* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main{
    height: 80%;
    width: 60%;
    background-color:rgb(187, 179, 179);
    position: absolute;
    top: 10%;
    left: 20%;
}
.page1{
    height:75%;
    width: 40%;
    background-color:rgb(151, 148, 148);
    position: absolute;
    top: 12%;
    left: 5%;
}
.watch{
    height: 80%;
    width: 100%;
    background-image: url(https://img.freepik.com/premium-psd/presentation-smartwatches-with-screen-mock-up_23-2148787549.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
}

.page2{
    height:75%;
    width: 50%;
    background-color:rgb(247, 243, 243);
    position: absolute;
    top: 12%;
    left: 45%;
}
.contant{
    height: 80%;
    width: 80%;
    /* background-color: blueviolet; */
    position: absolute;
    top: 10%;
    left: 10%;
}
.contant>h1{
    height: 12%;
    width: 90%;
    /* background-color: rgb(68, 71, 71); */
    font-size:65px;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 12px 10px 0 rgba(103, 116, 109, 0.788),0 17px 10px 0 rgba(97, 114, 104, 0.788);
    margin-left: 7%;
 
}
h2{
    height: 12%;
    width: 80%;
    /* background-color: rgb(130, 155, 155); */
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5% 15%;
    padding: 2% 18%;
}
input{
    height: 12%;
    width: 80%;
    margin: 3% 12%;
    font-size: 30px;
    padding: 7% 3%;
}
button{
    height: 12%;
    width: 80%;
    margin: 5% 12%;
    font-size: 30px;
    background-color: rgb(49, 48, 48);
    color: white;
   
}
